@using KYC_APP.Data.ViewModels;
@model DocumentManagerViewModel;
@{
    ViewData["Title"] = "KYC APP";
    Layout = "~/Views/Shared/_Layout-2.cshtml";
}

    

    <section class="section">
        <div class="row">
            <div class="col-lg-8">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Document Manager</h5>

                        <!-- Default Accordion -->
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Personal Identification
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">

                                        <div class="list-group">
                                            @foreach (var requirement in Model.KYCRequirementsVM)
                                         {
                                            @if (requirement.Category == "PIN")
                                            {


                                                // Check if there are available documents that match the category
                                                var matchingDocument = Model.availableDocumentsVM.FirstOrDefault(doc => doc.Documenttype == requirement.DocumentType);

                                                @if (matchingDocument != null)
                                                {

                                                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-1">@requirement.DocumentType</h5>


                                                            <form asp-action="UpdateFile" novalidate>
                                                                <small> <button type="file" asp-for="@Model.UploadKYCVM.File" class="btn btn-primary btn-sm">Update</button></small>
                                                                <input type="hidden" asp-for="@Model.UploadKYCVM.DocumentType" name="DocumentType" value="@requirement.DocumentType" /> <!-- Include DocumentType as hidden input -->

                                                                <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                                            </form>


                                                        </div>
                                                        <p class="mb-1">@matchingDocument.Name</p>
                                                        <small>Expiry Date - @matchingDocument.Renewaldate</small>
                                                        <p class="mb-1"> <small>Format: @matchingDocument.Type</small></p>
                                                    </a>

                                                }
                                                else
                                                {
                                                    <!-- if the category is banking then else if there is no item then-->
                                                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-1">@requirement.DocumentType</h5>


                                                            

                                                            <form asp-action="SaveDocument" method="post" enctype="multipart/form-data" novalidate>
                                                                <input type="hidden" asp-for="@Model.UploadKYCVM.DocumentType" name="DocumentType" value="@requirement.DocumentType" /> <!-- Include DocumentType as hidden input -->
                                                                <!-- File input element, hidden from view -->



                                                                <input class="form-control" type="file" asp-for="@Model.UploadKYCVM.File" id="fileInput-@requirement.DocumentType" name="File" />
                                                                <!-- Button to trigger file input click event -->
                                                                <button type="button" class="btn btn-dark" onclick="document.getElementById('fileInput-@requirement.DocumentType').click();">
                                                                    <i class="bi bi-folder"></i>
                                                                </button>
                                                                <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                                            </form>


                                                        </div>
                                                        <p class="mb-1">No Document Uploaded</p>
                                                        <small>Renewal Period - @requirement.RenewalPeriod</small>
                                                        <p class="mb-1"> <small>Format: @requirement.type</small></p>
                                                    </a>
                                                }





                                            }
                                            
                                        }



                                        </div><!-- End List group Advanced Content -->

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Banking
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">

                                          @foreach (var requirement in Model.KYCRequirementsVM)
                                         {
                                        @if (requirement.Category == "Banking")
                                        {

                                            // Check if there are available documents that match the category
                                            var matchingDocument = Model.availableDocumentsVM.FirstOrDefault(doc => doc.Documenttype == requirement.DocumentType);

                                            @if (matchingDocument != null)
                                            {

                                                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">@requirement.DocumentType</h5>


                                                        <form asp-action="UpdateFile" novalidate>
                                                            <small> <button type="file"  asp-for="@Model.UploadKYCVM.File" class="btn btn-primary btn-sm">Update</button></small>
                                                            <input type="hidden" asp-for="@Model.UploadKYCVM.DocumentType" name="DocumentType" value="@requirement.DocumentType" /> <!-- Include DocumentType as hidden input -->
                                                          
                                                            <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                                        </form>

                                                        
                                                    </div>
                                                    <p class="mb-1">@matchingDocument.Name</p>
                                                    <small>Expiry Date - @matchingDocument.Renewaldate</small>
                                                    <p class="mb-1"> <small>Format: @matchingDocument.Type</small></p>
                                                </a>
                                               
                                            }
                                            else
                                            {
                                                <!-- if the category is banking then else if there is no item then-->
                                                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">@requirement.DocumentType</h5>


                                                        <form asp-action="UploadFile" novalidate>
                                                            <input type="hidden" asp-for="@Model.UploadKYCVM.DocumentType" name="DocumentType" value="@requirement.DocumentType" /> <!-- Include DocumentType as hidden input -->
                                                            <small>   <button type="file" asp-for="@Model.UploadKYCVM.File" class="btn btn-dark"><i class="bi bi-folder"></i></button></small>
                                                            <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                                        </form>

                                                        
                                                    </div>
                                                    <p class="mb-1">No Document Uploaded</p>
                                                    <small>Renewal Period - @requirement.RenewalPeriod</small>
                                                    <p class="mb-1"> <small>Format: @requirement.type</small></p>
                                                </a>
                                            }



                                          

                                        }}

                                      
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Utilities
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                          @foreach (var requirement in Model.KYCRequirementsVM)
                                         {
                                        @if (requirement.Category == "Utilities")
                                        {

                                            // Check if there are available documents that match the category
                                            var matchingDocument = Model.availableDocumentsVM.FirstOrDefault(doc => doc.Documenttype == requirement.DocumentType);

                                            @if (matchingDocument != null)
                                            {

                                                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">@requirement.DocumentType</h5>


                                                        <form asp-action="UpdateFile" novalidate>
                                                            <small> <button type="file" asp-for="@Model.UploadKYCVM.File" class="btn btn-primary btn-sm">Update</button></small>
                                                            <input type="hidden" asp-for="@Model.UploadKYCVM.DocumentType" name="DocumentType" value="@requirement.DocumentType" /> <!-- Include DocumentType as hidden input -->

                                                            <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                                        </form>


                                                    </div>
                                                    <p class="mb-1">@matchingDocument.Name</p>
                                                    <small>Expiry Date - @matchingDocument.Renewaldate</small>
                                                    <p class="mb-1"> <small>Format: @matchingDocument.Type</small></p>
                                                </a>

                                            }
                                            else
                                            {
                                                <!-- if the category is banking then else if there is no item then-->
                                                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">@requirement.DocumentType</h5>


                                                        <form asp-action="UploadFile" novalidate>
                                                            <input type="hidden" asp-for="@Model.UploadKYCVM.DocumentType" name="DocumentType" value="@requirement.DocumentType" /> <!-- Include DocumentType as hidden input -->
                                                            <small>   <button type="file" asp-for="@Model.UploadKYCVM.File" class="btn btn-dark"><i class="bi bi-folder"></i></button></small>
                                                            <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                                        </form>


                                                    </div>
                                                    <p class="mb-1">No Document Uploaded</p>
                                                    <small>Renewal Period - @requirement.RenewalPeriod</small>
                                                    <p class="mb-1"> <small>Format: @requirement.type</small></p>
                                                </a>
                                            }





                                        }}

                                      
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Agreements
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                         @foreach (var requirement in Model.KYCRequirementsVM)
                                         {
                                        @if (requirement.Category == "Agreements")
                                        {


                                            // Check if there are available documents that match the category
                                            var matchingDocument = Model.availableDocumentsVM.FirstOrDefault(doc => doc.Documenttype == requirement.DocumentType);

                                            @if (matchingDocument != null)
                                            {

                                                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">@requirement.DocumentType</h5>


                                                        <form asp-action="UpdateFile" novalidate>
                                                            <small> <button type="file" asp-for="@Model.UploadKYCVM.File" class="btn btn-primary btn-sm">Update</button></small>
                                                            <input type="hidden" asp-for="@Model.UploadKYCVM.DocumentType" name="DocumentType" value="@requirement.DocumentType" /> <!-- Include DocumentType as hidden input -->

                                                            <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                                        </form>


                                                    </div>
                                                    <p class="mb-1">@matchingDocument.Name</p>
                                                    <small>Expiry Date - @matchingDocument.Renewaldate</small>
                                                    <p class="mb-1"> <small>Format: @matchingDocument.Type</small></p>
                                                </a>

                                            }
                                            else
                                            {
                                                <!-- if the category is banking then else if there is no item then-->
                                                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">@requirement.DocumentType</h5>


                                                        <form asp-action="UploadFile" novalidate>
                                                            <input type="hidden" asp-for="@Model.UploadKYCVM.DocumentType" name="DocumentType" value="@requirement.DocumentType" /> <!-- Include DocumentType as hidden input -->
                                                            <small>   <button type="file" asp-for="@Model.UploadKYCVM.File" class="btn btn-dark"><i class="bi bi-folder"></i></button></small>
                                                            <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                                        </form>


                                                    </div>
                                                    <p class="mb-1">No Document Uploaded</p>
                                                    <small>Renewal Period - @requirement.RenewalPeriod</small>
                                                    <p class="mb-1"> <small>Format: @requirement.type</small></p>
                                                </a>
                                            }




                                        }}
                                      
                                      
                                      
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Default Accordion Example -->

                    </div>
                </div>

            </div>

            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Activity Monitor <span>| Today</span></h5>

                        <div class="activity">

                            <div class="activity-item d-flex">
                                <div class="activite-label">32 min</div>
                                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                <div class="activity-content">
                                    BOC <a href="#" class="fw-bold text-dark">viewed</a> your Payslip
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">56 min</div>
                                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                <div class="activity-content">
                                    IMARA downloaded your ID
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 hrs</div>
                                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                <div class="activity-content">
                                    Stanbic viewed your Passport
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">1 day</div>
                                <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                <div class="activity-content">
                                    BOC <a href="#" class="fw-bold text-dark">downloaded</a> your ID
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 days</div>
                                <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                                <div class="activity-content">
                                    Stanbic viewed your Bank Statements
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">4 weeks</div>
                                <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                                <div class="activity-content">
                                    BOC viewed your Passport
                                </div>
                            </div><!-- End activity item-->

                        </div>

                    </div>
                </div><!-- End Recent Activity -->






            </div><!-- End Right side columns -->

        </div>
    </section>

